.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.blogContainer {
    display: flex;
    flex-direction: row;
    padding: 0 2rem;
}

.blogGrid {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width:75%;
    max-width: 1000px;
}

.filterBox {
    display: flex;
    width:25%;
    justify-content: center;
}

@media (max-width: 768px) {
    
    .blogContainer {
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
    }

    .blogGrid {
        width: 100%;
    } 

    .filterBox {
        width: 100%;
    }

    .main {
        padding: 5rem 1rem;
    }
}