.categoriesHeader {
    font-size: 20px;
    line-height: 1;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 7px;
}

.categoriesSeparator {
    width: 80%;
    height: 1px;
    background-color: #5CA2D5;
}

.categoriesList {
    list-style: none;
    padding-left: 0;
}

.categoryItem {
    margin-bottom: 10px;
    font-weight: 500;
}

.categoryItem.active {
    color: #5CA2D5;
}

@media (max-width: 768px) {
    .categoriesList {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        white-space: nowrap;
        
    }

    .categoryItem {
        margin-right: 15px;
    }

    .categoriesHeader {
        text-align: center;
    }
    
    .categoriesSeparator {
        width: 100%;
    }
}
