.btn {
    width: 355px;
    max-width: 95%;
    height: auto;
    background-color: white;
    padding: 1em;
    text-align: center;
    font-weight: 500;
    border: 4px solid #5CA2D5;
    box-shadow: 10px 10px #5CA2D5;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s;
    transition-timing-function: ease-in-out;
}

.btn:hover {
    transform: translate(5px, 5px);
    box-shadow: 0 0 #5CA2D5;
}