.footer {
    width: 100%;
    border-top: 1px solid #eaeaea;
  }

.topLine {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 25px 50px;
    flex-wrap: wrap;
}

.logoBox {
    display: flex;
    height: 70px;
    padding-top: 5px;
}

.logo {
    display: inline-block;
    height: 45px;
    width: auto;
    cursor: pointer;
}

.leftBox {
    display: flex;
    flex-grow: 1;
    padding-top: 5px;
    padding-left: 35px;
}

.addressContainer {
    display: flex;
}

.mapIcon {
    height: 40px;
    margin-right: 6px;
}

.addressBox {
    font-size: 15px;
    color: #18A0FB;
}

.addressBox p {
    margin-top: .50px;
    cursor: pointer;
}

.hoursContainer {
    display: flex;
}

.hoursBox {
    padding-left: 40px;
    font-size: 15px;
}

.hoursBox p {
    margin-top: .50px;
}

.hoursTime {
    padding-left: 25px;
    font-size: 15px;
}

.hoursTime p {
    margin-top: .50px;
}

.rightBox{
    display: flex;
}

.navBox a {
    padding-left: 50px;
    font-weight: 600;
}

.bottomLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px 20px 50px;
    border-width: 50%;
    font-size: 14px;
}

.bottomLeftBox {
    display: flex;
}

.bottomLeftBox p {
    font-weight: 300;
}

.bottomRightBox {
    display: flex;
    align-items: center;
    font-weight: 500;
    color: #18A0FB;
}

.phone {
    height: 25px;
    padding-right: 10px;
    margin-top: 7px;
    cursor: pointer;
}

.envelope {
    height: 25px;
    padding-left: 25px;
    padding-right: 10px;
    margin-top: 7px;
    cursor: pointer;
}

.fbIcon {
    height: 25px;
    padding-left: 30px;
    cursor: pointer;
    margin-top: 7px;
}

.solid {
    border-top: 1px solid black;
    width: 94%;
  }

@media (max-width: 1140px){

    .rightBox {
        display:none;
    }

    .topLine {
        justify-content: center;
        padding-bottom: 10px;
    }
    .logoBox {
        justify-content: center;
    }

    .leftBox {
        flex-grow: 0;
        justify-content: center;
    }

    .bottomLine {
        justify-content: center;
        flex-direction: column;
    }

    .bottomLeftBox{
        order: 1;
        margin-top: 20px;
    }

    .bottomRightBox {
        padding-top: 15px;
    }
    
  }

@media (max-width: 768px) {

    .logoBox {
        margin-bottom: 15px;
    }

    .leftBox {
        flex-wrap: wrap;
        width: 100%;
        padding: 0;
    }

    .hoursContainer {
        width: 100%;
        margin-top: 20px;
        justify-content: center;
    }

    .hoursBox {
        padding-left: 0;
    }

    .addressContainer {
        width: 100%;
        justify-content: center;
    }
}
 
@media (max-width: 525px) {

    .leftBox {
        padding-left: 0px;
    }

    
    .mapIcon {
        flex: 1 0 auto;
    }

    .addressBox {
        flex: 0 0 100px;
    } 

    .hoursBox {
        padding-top: 15px;
        padding-left: 0px;
    }

    .hoursTime {
        padding-top: 15px;
        padding-left: 20px;
    }  

    .phoneNum {
        display: none;
    }

    .email {
        display: none;
    }

    .bottomLine {
        padding-top: 5px;
    }
  } 