
.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 75px;
    padding: 0 50px;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.15);
}

.links {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
}

.activeLink {
    color: #5CA2D5;
    text-decoration: underline;
    font-weight: bold;
}

.logo {
    display: inline-block;
    height: 60px;
    width: auto;
    cursor: pointer;
}

.navLinks {
    display: flex;
    align-self: center;
    padding-left: 30px;
    flex: 1;
}

.searchInput {
  display: inline-block;
  width: 25%;
  padding-left: 10px;
  min-width: 18%!important;
  height: 30px;
  border-width: 0px;
  background-color: #ECF0F1;
  
}

.formButton{
  height: 30px;
  width: 40px;
  cursor: pointer;
  background-image: url("/magnifying-glass.svg");
  background-color: #ECF0F1;
  background-position: center;
  background-repeat: no-repeat;   
  border-style: solid;
  background-size: 50%;
  border-left-width: 1px;
  border-right-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 0px;
} 

.menuIcon {
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 0 50px;
    cursor: pointer;
    display: none;
    background-image: url("/menu.svg");
    background-color: white;
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    border-style: none; 
  }

.menuIconClose {
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 0 50px;
    cursor: pointer;
    display: none;
    background-image: url("/cancel.svg");
    background-color: white;
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    border-style: none; 
  }

.searchIcon {
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 0 50px;
    font-size: 18px;
    color:black;
    cursor: pointer;
    display: none;
    background-image: url("/magnifying-glass.svg");
    background-color: white;
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    border-style: none; 
  }

.searchIconClose {
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 0 50px;
    font-size: 18px;
    color:black;
    cursor: pointer;
    display: none;
    background-image: url("/cancel.svg");
    background-color: white;
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    border-style: none; 
  }

.menuIcon span,
.searchIcon {
    display: none;
}

.mobileNavMenu {
  display: none;
}

.mobileNavMenu.open {
  left: 0;
}

.linksNav {
  display: inline-block;
  padding: 25px 15px;
  text-decoration: none;
  color: black;
}

.activeLinkNav {
  color: #5CA2D5;
  text-decoration: underline;
  font-weight: bold;
}

.mobileNavSearch {
  display: none;
}

.mobileNavSearch.open {
  right: 0;
}

@media (max-width: 1140px){

  .navBar{
    padding: 0px;
  }
  .navLinks {
    display: none;
  }
  .mobileNavSearch {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    padding: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -100%;
    top: 75px;
    transition: all 0.3s;
    box-shadow: 0px 15px 15px 0 rgba(0, 0, 0, 0.15);
  }
  .mobileNavMenu {
    position: fixed;
    top: 0;
    width: 200px;
    height: 100vh;
    top: 75px;
    padding: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    left: -250px;
    transition: all 0.3s;
    box-shadow: 0px 15px 15px 0 rgba(0, 0, 0, 0.15);
  }
  
  .searchInput {
    display: inline-block;
    padding-left: 15px;
    height: 30px;
    width: 100%;
    border-width: 0px;
    background-color: #ECF0F1;
  }
  
  .formButton {
    width: 20%;
    height: 30px;
    cursor: pointer;
    background-image: url("/magnifying-glass.svg");
    background-color: #ECF0F1;
    background-position: center;
    background-repeat: no-repeat;   
    border-style: solid;
    border-left-width: 1px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    background-size: 20px;
  }

  .menuIcon {
    display: block;
  }
  .menuIconClose {
    display: block;
  }
  .searchIcon{
    display: block;
  }
  .searchIconClose {
    display: block;
  }
  .menuIcon span{
    display: block;
  }
  .menuIcon span.hide{
    display: block;
  }
  .searchIcon.hide{
    display: block;
  }

}

@media (max-width: 980px){

    .menuIcon {
        margin: 0 20px;
    }
    .menuIconClose {
      margin: 0 20px;
    }
    .searchIcon{
        margin: 0 20px;
    }
    .searchIconClose{
      margin: 0 20px;
    }

}
